<!DOCTYPE html>
<html lang="en"><head>
  <meta charset="utf-8">
  <title>Food For Thought</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  
  <meta property="og:title" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">

  <!-- Styles -->
  <link rel="stylesheet" href="../public/css/font-awesome.min.css">
  <link rel="stylesheet" href="../public/css/animate.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900|Montserrat:400,700' rel='stylesheet' type='text/css'>
  

  <link rel="stylesheet" href="../public/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/css/main.css">

  <script src="../public/js/modernizr-2.7.1.js"></script>
  
</head>

<body>

    <div class="navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="logo" href="index"><i class="fa fa-chevron-left"></i><i class="fa fa-cutlery"></i></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="home" class="scroll">Home</a></li>
            <li><a href="help">Help</a></li>
            <li><a href="about">About</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    
    <section id="main-info" class="pad-xl" style="padding-top:80px;">
        <div class="container">
            <div class="row">
            <h2 style="margin-left:20px; margin-right: 20px; margin-top: 10px;padding-bottom: 25px"> How do you want to choose your meal today?</h2>
                <div class="col-sm-4 wow fadeIn" data-wow-delay="0.4s">
                    <hr class="line green">
                    <a href="affordability">
                    <h3>Affordability</h3>
                    </a>
                </div>
                <div class="col-sm-4 wow fadeIn" data-wow-delay="0.8s">
                    <hr  class="line blue">
                    <a href="nutrition">
                    <h3>Nutrition</h3>
                    </a>
                </div>
                <div class="col-sm-4 wow fadeIn" data-wow-delay="1.2s">
                    <hr  class="line yellow">
                    <a href="restaurant">
                    <h3>Restaurants</h3>
                    </a>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../public/js/wow.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../public/js/main.js"></script>

   
    </body>
</html>