<!DOCTYPE HTML>

<!-- ************************* LOGISTICS *************************-->

<html lang="en">
    
<!-- ************************* HEAD *************************-->

<head>
    
    <!-- Google Analytics Content Experiment code -->
    <script>function utmx_section(){}function utmx(){}(function(){var
    k='133740695-1',d=document,l=d.location,c=d.cookie;
    if(l.search.indexOf('utm_expid='+k)>0)return;
    function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
    indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
    length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
    '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
    '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
    '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
    valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
    '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
    </script><script>utmx('url','A/B');</script>
    <!-- End of Google Analytics Content Experiment code -->
    
  <meta charset="utf-8">
  <title>Food For Thought</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  
    <meta property="og:title" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">

<!-- ************************* FONTS *************************-->
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
  
<!-- ************************* STYLES *************************-->

    <link rel="stylesheet" href="../public/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/animate.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900|Montserrat:400,700' rel='stylesheet' type='text/css'>
        
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/main.css">
  
  
</head>
    
<!-- ************************* BODY *************************-->

<body>

<!-- ************************* NAVBAR *************************-->
    
    <div class="navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="home">Home</a></li>
            <li><a href="help">Help</a></li>
            <li><a href="/">Sign Out</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    
<!-- ************************* CONTENT *************************-->
    
    <section id="main-info" class="pad-xl" style="padding-top:80px;padding-bottom:0px;">
        <div class="container">
            <div class="row">
            <h2 style="margin-left:20px; margin-right: 20px; margin-top: 10px;padding-bottom: 25px"> <u>{{username}}</u>, how do you want to choose your meal today?</h2>

                {{#if ab}}<div class="col-xs-10-offset-2 wow fadeIn" data-wow-delay="0.4s" style="background-color: #edffeb;">

                    <hr class="line green">
                    <a href="affordability" onclick="ga('send', 'event', 'Button', 'Click', 'Affordability');">
                        <center><h3 style="padding-bottom:40px; margin-bottom: 0px;">Affordability</h3></center>
                    </a>
                </div>
                <div class="col-xs-10-offset-2 wow fadeIn" data-wow-delay="0.8s" style="background-color: #ffdede;">
                    <hr class="line red" style="margin-top:0px">
                    <a href="nutrition" onclick="ga('send', 'event', 'Button', 'Click', 'Nutrition');">
                        <center><h3 style="padding-bottom:40px;margin-bottom: 0px;">Nutrition</h3></center>
                    </a>
                </div>
                <div class="col-xs-10-offset-2 wow fadeIn" data-wow-delay="1.2s" style="background-color: #fff7de;">
                    <hr class="line yellow" style="margin-top:0px">
                    <a href="restaurant" onclick="ga('send', 'event', 'Button', 'Click', 'Restaurant');">
                        <center><h3 style="padding-bottom:40px;margin-bottom: 0px;">Restaurants</h3></center>
                    </a>
                    <hr class="line blue" style="margin-top:0px">
                </div>{{else}}<div class="container" data-wow-delay="0.4s">
                    <div>
                        <button onclick="window.location='affordability'" class="btn btn-success btn-block raised" type="button"><h4 style="color:white">Affordability</h3></button>
                    </div>
                    <div style="padding-top:20px; padding-bottom:20px">
                        <button onclick="window.location='nutrition'" class="btn btn-danger btn-block raised" type="button"><h4 style="color:white">Nutrition</h3></button>
                    </div>
                    <div>
                        <button onclick="window.location='restaurant'" class="btn btn-warning btn-block raised" type="button"><h4 style="color:white">Restaurant</h4></button>
                    </div>
                </div>{{/if}}
                <!-- <div class="col-xs-10-offset-2 wow fadeIn" data-wow-delay="0.4s" style="background-color: #edffeb;">
                    <hr class="line green">
                    <a href="affordability" onclick="ga('send', 'event', 'Button', 'Click', 'Affordability');">
                        <center><h3 style="padding-bottom:40px; margin-bottom: 0px;">Affordability</h3></center>
                    </a>
                </div>
                <div class="col-xs-10-offset-2 wow fadeIn" data-wow-delay="0.8s" style="background-color: #ffdede;">
                    <hr class="line red" style="margin-top:0px">
                    <a href="nutrition" onclick="ga('send', 'event', 'Button', 'Click', 'Nutrition');">
                        <center><h3 style="padding-bottom:40px;margin-bottom: 0px;">Nutrition</h3></center>
                    </a>
                </div>
                <div class="col-xs-10-offset-2 wow fadeIn" data-wow-delay="1.2s" style="background-color: #fff7de;">
                    <hr class="line yellow" style="margin-top:0px">
                    <a href="restaurant" onclick="ga('send', 'event', 'Button', 'Click', 'Restaurant');">
                        <center><h3 style="padding-bottom:40px;margin-bottom: 0px;">Restaurants</h3></center>
                    </a>
                    <hr class="line blue" style="margin-top:0px">
                </div> -->
                <!--<div class="container" data-wow-delay="0.4s">
                    <div>
                        <button onclick="window.location='affordability'" class="btn btn-success btn-block raised" type="button"><h4 style="color:white">Affordability</h3></button>
                    </div>
                    <div style="padding-top:20px; padding-bottom:20px">
                        <button onclick="window.location='nutrition'" class="btn btn-danger btn-block raised" type="button"><h4 style="color:white">Nutrition</h3></button>
                    </div>
                    <div>
                        <button onclick="window.location='restaurant'" class="btn btn-warning btn-block raised" type="button"><h4 style="color:white">Restaurant</h4></button>
                    </div>
                </div>-->
            </div>
        </div>
    </section>
    
<!-- ************************* SCRIPTS *************************-->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../public/js/wow.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../public/js/main.js"></script>
    <script src="../public/js/script.js"></script>
    <script src="../public/js/modernizr-2.7.1.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-87434324-1', 'auto');
      ga('send', 'pageview');
    </script>
    </body>
</html>