<!DOCTYPE HTML>

<!-- ************************* LOGISTICS *************************-->

<html lang="en">
    
<!-- ************************* HEAD *************************-->

<head>
  <meta charset="utf-8">
  <title>Food For Thought</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  
    <meta property="og:title" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">

<!-- ************************* FONTS *************************-->
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
  
<!-- ************************* STYLES *************************-->

    <link rel="stylesheet" href="../public/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/animate.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900|Montserrat:400,700' rel='stylesheet' type='text/css'>
        
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/main.css">
  
  
</head>
    
<!-- ************************* BODY *************************-->

<body>

<!-- ************************* NAVBAR *************************-->
    
    <div class="navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <i id="nav_back" class="fa fa-chevron-left"></i>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="home">Home</a></li>
            <li><a href="help">Help</a></li>
            <li><a href="about">About</a></li>
            <li><a href="/">Sign Out</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    
<!-- ************************* CONTENT *************************-->
    
    <section id="main-info" class="pad-xl" style="padding-top:80px;">
        <div class="container">
            <div class="row">
            <h2 style="margin-left:20px; margin-right: 20px; margin-top: 10px;padding-bottom: 25px"> Restaurant Name</h2>
                <div class="col-sm-4 wow fadeIn" data-wow-delay="0.4s">
                    <hr class="line green">
                    <a href="meal">
                    <h3>Meal 1</h3>
                    </a>
                </div>
                <div class="col-sm-4 wow fadeIn" data-wow-delay="0.8s">
                    <hr  class="line blue">
                    <a href="meal">
                    <h3>Meal 2</h3>
                    </a>
                </div>
                <div class="col-sm-4 wow fadeIn" data-wow-delay="1.2s">
                    <hr  class="line yellow">
                    <a href="meal">
                    <h3>Meal 3</h3>
                    </a>
                </div>
            </div>
        </div>
    </section>
    
<!-- ************************* SCRIPTS *************************-->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../public/js/wow.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../public/js/main.js"></script>
    <script src="../public/js/script.js"></script>
    <script src="../public/js/modernizr-2.7.1.js"></script>

    </body>
</html>