/*-------------------------------------------------------------------------------------
[TABLE OF CONTENTS]

	00. RESET
	01. GENERAL
	02. HOME
	03. 
	04. 
	
	font-family: 'Karla' 'Montserrat';
	text: #606060
	hover: #05b4c6
	headings: #404040
	
-------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*
/*-----------------------------------------------------------------------------------*/

/***** 01. GENERAL *****/
html,body{
	margin: 0px;
	height:100%;
}
body {
    font-family: 'Rubik';
}

h1 {
    font-family: 'Montserrat';
    font-size: 5em;
    text-align:center;

}
.container{
	position:absolute;
	height:100%;
}
#nav_back{
	padding: 10px 0px 0px 20px;
	font-size: 4em;
}

/***** 02. HOME *****/
#home_title{
	margin:0px;
	padding-top:2vh;
}

.placeholder_img{
	width:7vh;
	height:7vh;
	border-radius: 7vh/ 7vh;
	background-color: #BFBFBF;
	display:inline-block;
}
.panel_height{
	height:23vh;

}
.center_align{
	text-align:center;
}
.categories{

	position:relative;
	border-top:1px solid #BFBFBF;
	text-align:center;
	
}
.categories_text{
	display:inline-block;
	line-height:23vh;
	text-align:center;
	font-size: 4em;

}

#fixed_nav{
	position:relative;
	width:100%;
	height:6vh;
	background-color:#BFBFBF;
}
